#levelspagenew {
    $color_1: wheat;
    $color_2: white;
    $font-family_1: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
    $font-family_2: "JetBrains Mono",
    monospace;
    $background-color_1: black;
    $background-color_2: rgb(75, 223, 75);
    background-color: black;

   .container{
    padding-top: 6rem;
   }

    .levelselection {
        font-family: $font-family_1;
        text-align: center;
        font-size: 70px;
        margin-top: 13rem;
        margin-bottom: 2rem;
        color: $color_1;
        border: 3px solid pink;
        padding: 0.8rem;
    }

    .User-logo {
        width: 30px;
    }

    .coins {
        width: 30px;
    }

    .rupee {
        width: 15px;
        vertical-align: middle;
    }

    .levels {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .level {
        height: 7rem;
        width: 70rem;
        margin: 1.5rem;
        border-radius: 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 2px solid black;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
        transition: box-shadow .20s, transform .20s;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;

        &:focus {
            box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        }

        &:hover {
            box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
            transform: translateY(-9px);
        }

        &:active {
            box-shadow: #3c4fe0 0 3px 7px inset;
            transform: translateY(9px);
        }
    }

    .part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        width: 25%;
    }

    .parthead {
        font-size: 2rem;
        font-weight: 700;
        font-family: $font-family_2;
        text-shadow: 6px 6px 15px black;
        color: $color_1;
    }

    .parttext {
        font-size: 1.5rem;
        font-weight: 600;
        color: $color_2;
    }

    .plus {
        color: $color_2;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0.7rem;
    }

    .quizz {
        height: 7rem;
        width: 40%;
        margin: 2rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        background-color: $background-color_2;
        color: $color_1;
        transition: box-shadow .15s, transform .15s;
        font-size: 2.7rem;
        font-weight: 700;
        font-family: $font-family_2;
        text-shadow: 6px 6px 15px black;
        text-decoration: none;

        &:focus {
            box-shadow: #1f1f21 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #000000 0 -3px 0 inset;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.4) 0 4px 8px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, #000000 0 -3px 0 inset;
            transform: translateY(-9px);
        }

        &:active {
            box-shadow: #000000 0 3px 7px inset;
            transform: translateY(9px);
        }
    }

}