#list8 {
    ul {
        padding-left: 50px;
        display: flex;
        list-style: none;
        padding-top: 0px;
        li {
            margin-left: 300px;
            &:nth-child(2) {
                margin-left: 20px;
            }
            button-87 {
                padding-bottom: 10px;
            }
        }
    }
    .button-87 {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 5px;
        display: block;
        border: 0px;
        font-weight: 700;
        box-shadow: 0px 0px 14px -7px #f09819;
        background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        &:hover {
            background-position: right center;
            color: white;
            text-decoration: none;
            transform: translatey(-2px);
        }
        &:active {
            transform: scale(0.95);
        }
    }
}